<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451139715279-3cc7lvm1e83nk7p2qlmvrkthveu7durl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451139715279-3cc7lvm1e83nk7p2qlmvrkthveu7durl</string>
	<key>API_KEY</key>
	<string>AIzaSyBHnK1q-fvK6Xw8jZLjDvXd7Kf0MDkB_VI</string>
	<key>GCM_SENDER_ID</key>
	<string>451139715279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stv.FirebasePushTest</string>
	<key>PROJECT_ID</key>
	<string>fir-pushtest-d93e4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-pushtest-d93e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451139715279:ios:b3b763a1f6b830c169b7ba</string>
	<key>DATABASE_URL</key>
	<string>https://fir-pushtest-d93e4.firebaseio.com</string>
</dict>
</plist>